# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/.gitattributes
!/README.md
!/run_experiment.py
!/__init__.py

# Folders to not ignore (ignore every folder other than these)
!/juicer/
!/extractors/
!/utils/
!/sinproc_installer/
!/configuration/

/extractors/__pycache__
/utils/__pycache__
/sinproc_installer/__pycache__
/sinproc_installer/fluxcom*

# Folder to ignore
# ./data
# ./input
# ./settings
# ./sandbox
# ./output
*~
*.swpi
*.swo
*.bak
*.txt
*.asv
*.nc
*.csv
*.png
